.main-navigation .menu-icon img {
    max-width: 35px;
    max-height: 35px;
}
.top-nav > ul > li > a {
    padding-top: 15px;
}

#footWrapper .address li {
    padding: 5px 0px;
}
#footWrapper .address li i {
    display: inline-block;
    padding-right: 5px;
}

.team-boxes .cell-4:nth-child(4n+1) {
    clear: left;
}
.product-colors {
    text-align: center;
    margin-top: 10px;
}
.product-colors li {
    display: inline-block;
    text-align: center;
}
.product-colors li a{
    display: inline-block;
    border-radius: 100%;
    border: 3px solid transparent;
    position: relative;
    width: 25px;
    height: 25px;
    transition: none;
}
.product-colors li img{
    display: block;
    border-radius: 100%;
    width: 100%;
    height: 100%;
}
.product-colors li.active a,
.product-colors li:hover a{
    border: 4px solid green;
    cursor: pointer;
}
.product-colors li.active a:before,
.product-colors li:hover a:before {
    border-bottom: 17px solid green;
    border-left: 11px solid transparent;
    border-right: 10px solid transparent;
    content: "";
    display: block;
    height: 0;
    left: -2px;
    position: absolute;
    top: -16px;
    width: 0;
}

#gal1 li a:before {
    content: none;
}

.product-title {
    margin: 0;
    padding: 10px 0;
    background: #ebebeb;
    color: #666;
    text-align: center;
    font-size: 14px;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.product-title a {
    color: #666;
}
.product-img {
    padding: 10px;
    text-align: center;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    position:relative
}
.product-details {
    overflow: hidden;
    padding: 10px 0 0;
    border-top: 1px #dfdfdf solid;
}
.product-details p{
    padding:0 10px
}
.product-price {
    padding: 5px 25px;
    font-size: 20px;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.product-rating {
    padding-bottom: 3px;
}
.product-details .product-rating {
    text-align: center;
}
.product-rating .fa {
    margin-right: 4px;
    color: #ffc000;
    font-size: 15px;
}
.product-rating .fa-star-o {
    color: #c0c0c0;
}
.right-rating {
    float: right;
    clear: both;
    font-size: 14px;
    font-weight: bold;
}
.right-rating .product-rating {
    float: right;
}
.product-details .left {
    padding-left: 10px;
}
.product-cart {
    padding: 0 0 6px 0;
    border-bottom: 1px #dfdfdf solid;
}
.product-cart a {
    color: #333;
    text-transform: uppercase;
    font-size: 11px;
}
.remove-item i {
    font-size: 23px;
}
.product-details .left i.fa {
    margin-right: 8px;
}
.product-tools {
    padding-top: 8px;
}
.product-tools i {
    font-size: 17px;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.product-size li {
    display: inline-block;
    font-size: 17px;
    margin-right: 10px;
}

.category-item .item-title {
    width: 80%;
    background-color: #E7512F;
    position: relative;
}
.category-item .item-title:after {
    border-color: #e7512f transparent transparent #e7512f;
    border-style: solid;
    border-width: 21px;
    content: "";
    position: absolute;
    right: -31px;
    top: 0;
    transform: rotateY(-59deg);
    transition: all 0.4s ease-in-out 0s;
}
.category-item .item-title:before {
    width: 22px;
    height: 1px;
    background-color: #777;
    position: absolute;
    content: "";
    top: -1px;
    right: -22px;
    transition: all 0.4s ease-in-out 0s;
}
.category-item:hover .item-title:after {
    border-color: #EBEBEB transparent transparent #EBEBEB;
}
.category-item .item-title:before {
    background-color: #e7512f;
}
.category-item:hover .item-title {
    background-color: #ebebeb!important;
}
.category-item:hover .item-title a {
    color: #E7512F!important;
}
.category-item .item-title a{
    color: #fff;
}

.product-box {
    background-color: #F4F4F4;
    position: relative;
    padding: 10px 0;
}
.product-box .product-title {
    background-color: #e7512f;
    width: 100%;
    margin-left: -10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
    padding: 10px;
    color: #fff;
}
.product-box .product-title a {
    color: #fff;
}
.product-box .product-sale {
    height: 104px;
    line-height: 30px;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 110px;
}
.product-box .product-image {
    text-align: center;
}
.product-box .product-image img {
    height: 210px;
}
.product-box .price-box {
    min-height: 39px;
}
.product-box .product-sale .discount {
    background-color: #e7512f;
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: bold;
    height: 31px;
    position: absolute;
    right: -51px;
    top: 24px;
    transform: rotate(45deg);
    width: 175px;
    text-align: center;
}
/**
.product-box .product-sale .discount:before {
    border-color: transparent #e7512f #e7512f transparent;
    border-style: solid;
    border-width: 15px;
    content: "";
    left: -29px;
    position: absolute;
    top: 0;
}
.product-box .product-sale .discount:after {
    border-color: transparent transparent #e7512f #e7512f;
    border-style: solid;
    border-width: 15px;
    content: "";
    right: -29px;
    position: absolute;
    top: 0;
}
**/
.btn-design .btn{
    width: 100%;
    background: #E7512F;
}
.btn-design .btn a{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.product-relateds .product-items{ background-color: #EEE; }
.product-relateds .product-items .product-box {
    margin: 20px 0px;
    border: 1px solid #ddd;
    background-color: #EEE;
}
.product-items .product-box {
    margin-bottom: 30px;
}

.product-detail .product-image {
    border: 1px solid #eee;
    position: relative;
}
.product-detail .product-image h3 {
    font-size: 22px;
    background: #E7512F;
    color: #FFF;
    width: 80%;
    padding: 5px;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    top: 10px;
    left: -5px;
}


#product-filter {
    
}
#product-filter .filter-item {
    margin-bottom: 30px;
}
    
#product-filter .filter-item h3 {
    color: #000;
    text-transform: none;
    font-weight: bold;
}
#product-filter .filter-item label{
    text-align: center;
    display: block;
    width: 100%;
    color: #000;
}
#product-filter .filter-item .ui-slider-range {
    background: #666;
}
#product-filter .filter-item .ui-state-default {
    background: #E7512F;
    border-color: #E7512F;
}

#filter-colors li {
}
#filter-colors li a {
    display: block;
    height: 35px;
    line-height: 23px;
    margin: 5px 0px;
}
#filter-colors li a img,
#filter-colors li a span{
    display: block;
    border: 2px solid transparent;
    border-radius: 100%;
    float: left;
    margin-right: 10px;
    width: 25px;
    height: 25px;
    line-height: 20px;
    text-align: center;
}
#filter-colors li a.active img,
#filter-colors li a:hover img,
#filter-colors li a.active span,
#filter-colors li a:hover span {
    border: 2px solid green;
}
#filter-colors li a.active {
    color: #D44837;
}
.slick-button-hor .slick-prev,
.slick-button-hor .slick-next {
    top: 50%;
}
.slick-button-hor .slick-prev {
    left: -30px;
}
.slick-button-hor .slick-next {
    right: -30px
}

.exp-rate-star i,
.exp-rate-star.active.hover-active i {
   font-size: 18px;
   cursor: pointer;
   color: #777;
}
.exp-rate-star:hover i,
.exp-rate-star.hover i,
.exp-rate-star.active i{
   color: #ffc000;
}

.social-login {
    list-style: none inside;
    text-align: center;
}
.social-login li {
    display: inline-block;
    width: 50px;
    height: 45px;
    margin-left: 30px;
    line-height: 45px;
}
.social-login li a {
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    display: block;
}
.social-login li.fb {
    background: #3B5999;
}
.social-login li.tw {
    background: #1DAEE3;
}
.social-login li.gg {
    background: #D44837;
}


.product-category .item-box .item-img {
    height: 300px;
    overflow: hidden;
    position: relative;
}
.product-category .item-box .item-img img {
    position: absolute;
    bottom: 0;
    display: block;
    left: 50%;
    transform: translateX(-50%);
}
.item-img.small img {
    height: 180px;
}
.item-img.small img {
    height: 180px;
}
.item-img.medium img {
    height: 280px;
}
.item-img.large img {
    height: 215px;
}
.accessories .item-box .item-img img {
    height: 95px;
}
.accessories-item:nth-child(4n+1) { clear: left;}
.accessories-item .item-box .item-img img { height: 190px; }
.accessories-item .item-box .item-title a {
    white-space: nowrap;
    overflow: hidden;
    display: block;
}

.product-modal {
    position: fixed;
    top: 50px;
    left: 50%;
    width: 60%;
    margin-left: -30%;
    background: #fff;
    z-index: 99;
    padding: 20px;
    border: 2px solid #E7512F;
    display: none;
}
.modal-overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
}

/**
* Blocks
*/

.block {
    position: relative;
}
.block:hover .block-links-wrapper{
    opacity: 1;
}
.block .block-links-wrapper{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 100;
    opacity: 0;
    text-align: right;
}
.block .block-links-wrapper .block-link-trigger {
    position: relative;
    display: block;
    width: 30px;
}
.block .block-links-wrapper .block-link-trigger:hover .block-links{
    display: block;
}
.block .block-links-wrapper .block-links {
    display: none;
    position: absolute;
    width: 100px;
    background: #e0dede;
    border: 1px solid #d0d2d0;
    right: 0;
    text-align: center;
}
.block .block-links-wrapper .block-links li a {
    display: block;
    padding: 3px 5px;
    border-bottom: 1px solid #d0d2d0;
}
.block .block-links-wrapper .block-links li a:hover {
    color: #FFF;
}


.testimonials-1 {
    padding-left: 40px;
    padding-right: 40px;
}
.testimonials-1.slick-slider .slick-prev {
    left: -10px;
}
.testimonials-1.slick-slider .slick-next {
    right: -10px;
}