/* design.css */
.clear{
	clear: both;
}
.loading-animate{ 
	position: relative; 
	width: 100%;
	height: 100%;
	-webkit-perspective: 500px;
    perspective: 500px;
}
@keyframes loading-animate{
	from{ transform: rotateY(0); }
	to{ transform: rotateY(360deg); }
}
@-webkit-keyframes loading-animate{
	from{ -webkit-transform: rotateY(0); }
	to{ -webkit-transform: rotateY(360deg); }
}
.loading-animate:after{
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	width: 32px;
	height: 32px;
	background: #FFF;
	border-radius: 2px;
	transform: translate3d(-50%, -50%, 0);
	-webkit-transform: translate3d(-50%, -50%, 0);
	animation: loading-animate 1s ease infinite;
	-webkit-animation: loading-animate 1s ease infinite;
}
.design-container{
	width: 100%;
	height: 550px;
	padding: 20px;
	background: url(../images/bg_thread.gif);
	overflow: hidden;
}
.design-container select,
.design-container input,
.design-container textarea{
	background: #FAFAFA;
	border: 1px solid #FAFAFA;
    border-radius: 2px;
    color: #333;
}
input[name="color"]{
	display: none !important;
}
/* Custom minicolor plugin */
.minicolors-theme-default.minicolors{
	box-shadow: 0 0 4px 0 rgba(255, 255, 255, 0.5);
    border-radius: 2px;
    font-size: 0;
    line-height: normal;
    margin-left: 10px;
    vertical-align: middle;
}
.minicolors-theme-default .minicolors-swatch{
	position: relative;
	left: 0;
	top: 0;
	height: 24px;
    width: 24px;
	border-radius: 2px;
	border: none;
	cursor: pointer;
}
.minicolors-swatch-color{
	border-radius: 2px;
}
/* end Custom minicolor plugin */
.design-container .line-design{
	border-bottom: 1px dotted #fafafa;
    margin-bottom: 10px;
    padding-top: 10px;
}
.design-area{
	display: inline-block;
	position: relative;
}
.design-area.left{ 
	width: 35%;
	min-width: 300px;
}
.design-area.right{
	width: 65%;
	min-width: 500px;
}
.design-area.footer{
	width: 100%;
	padding: 30px;
	background: #E7512F;
	color: #FFF;
}

/* Area Tool */
.content-area-tool{
	height: 100%;
}
.content-area-tool .controler-tab{
	width: 100%;
	padding: 0;
	margin: 0;
	font-size: 0;
}
.content-area-tool .controler-tab li{
	position: relative;
	display: inline-block;
	vertical-align: top;
	background: rgba(231, 81, 47, .6);
	transition: .3s;
	-webkit-transition: .3s;
}
.content-area-tool .controler-tab li.active{
	background: #E7512F;
}
.content-area-tool .controler-tab li:hover{
	background: #E7512F;
}
.content-area-tool .controler-tab li a{
	display: inline-block;
	color: #FFF;
	font-size: 13px;
	padding: 8px 15px;
	text-transform: uppercase;
}
.content-area-tool .content-tab{
	background: #E7512F;
	display: none;
	padding: 10px;
	color: #FFF;
	height: 475px;
}
.content-area-tool .content-tab.active{
	display: block;
}
.content-area-tool .content-inner{
	width: 100%;
	height: 400px;
	overflow: auto;
	text-align: left;
	line-height: normal;
}
.content-area-tool .content-inner .design-item{
	cursor: pointer;
    display: inline-block;
    font-size: 0;
    margin-bottom: 4px;
    margin-right: 4px;
    text-align: center;
    vertical-align: middle;
    width: calc(100% / 3 - 4px);
    overflow: hidden;
}
.content-area-tool .content-inner .design-item img{
	width: 100%;
	max-width: 100%;
}
.content-area-tool .content-inner .design-item.icon-item img{
	width: auto;
}
.content-area-tool .content-text{}
.content-area-tool .content-text .text-design{
	width: 100%;
	max-width: 100%;
	height: 140px;
	padding: 10px;
	text-transform: none;
}
.content-area-tool .content-text .control-text-format{}
.content-area-tool .content-text .control-text-format ul{
	padding: 15px 0;
}
.content-area-tool .content-text .control-text-format ul li{
	display: inline-block;
	vertical-align: top;
}
.content-area-tool .content-text .control-text-format ul li label{
	cursor: pointer;
    display: inline-block;
    font-size: 0;
    line-height: normal;
    margin-right: 10px;
    padding: 5px;
    text-align: center;	
    width: 32px;
    border-radius: 2px;
    border: solid 1px transparent;
    transition: .3s;
    -webkit-transition: .3s;
}
.content-area-tool .content-text .control-text-format ul li input[type="checkbox"]:checked ~ label,
.content-area-tool .content-text .control-text-format ul li input[type="radio"]:checked ~ label{
	border: solid 1px #FFF;
}
.content-area-tool .content-text .control-text-format ul li label i{
	font-size: 20px;
}
.content-area-tool .content-text .control-font-size{
	padding: 10px 0;
}
.content-area-tool .content-text .control-font-size p{
	margin: 0 0 10px;
}
.content-area-tool .content-text span.num-font-size{
	position: relative;
	background: #333;
	color: #FFF;
	padding: 3px 5px;
	border-radius: 2px;
	text-align: center;
}
.content-area-tool .content-text span.num-font-size:after{
	content: "";
	position: absolute;
	border: 5px solid transparent;
	border-top: 5px solid #333;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}
.btn-add-text{
	background: none;
	border: 2px solid #FFF;
	border-radius: 50px;
	margin-top: 20px;
	transition: .3s;
	-webkit-transition: .3s;
}
.btn-add-text:hover{
	background: rgba(255,255,255,.2);
}
/* area design */
.content-area-design{
	width: 100%;
	padding: 20px;
	position: relative;
}
.content-area-design .design-inner{}
.content-area-design .design-inner .image-frame{
	display: inline-block;
	position: relative;
}
.layout-design{
	position: absolute;
	left: 0;
	top: 0;
	display: inline-block;
}
.l-move{
	cursor: move;
}
.l-del{
	background: url("../images/remove.png") no-repeat scroll center center / 18px auto rgba(255, 255, 255, 1);
    border-radius: 3px;
    cursor: pointer;
    height: 24px;
    left: -15px;
    position: absolute;
    top: -15px;
    width: 24px;
    display: none;
}
.layout-design:hover .l-del,
.layout-design:hover .l-resize{
	display: block;
}